.DS_Store
*.swp
.cache
.classpath
.history
.metadata
.project
.settings
.worksheet
.grunt/
.module-cache/
.sass-cache/
.tmpBin/
*.sc
activator-sbt-*-shim.sbt
build/
classes/
logs/
modules/*/bin
node_modules/
bower_components/
npm-debug.log
out/
**/project/_SpecRunner.html
selenium_commons.*
target/
tmp/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
tasks.xml
workspace.xml
